:root {
  --primary-font-family: 'Roboto';
  --secondary-font-family: 'Raleway';
  --primary-brand-color: #4d5ae5;
  --presed-state-color: #404bbf;
  --dark-color-bg: #2e2f42;
  --success-color-bg: #31d0aa;
  --text-color-bg: #434455;
  --sabtle-text-color-bg: #8e8f99;
  --accent-color: #e7e9fc;
  --light-color-bg: #f4f4fd;
  --overlay-color-bg: rgba(46, 47, 66, 0.4);
  --hero-color-bg: rgba(46, 47, 66, 0.7);
  --title-text-color: #2e2f42;
  --primary-bg-color: #ffffff;
  --primary-white-color: #ffffff;
  --header-1-font-size: 56px;
  --header-1-font-weight: 700;
  --header-1-line-height: 1.07;
  --header-2-font-size: 36px;
  --header-2-line-height: 1.11;
  --header-3-font-size: 20px;
  --header-3-font-weight: 500;
  --logo-font-size: 18px;
}
/**============ RESET =======**/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding-left: 0;
}

a {
  color: currentColor;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  outline: 2px solid red;
}

.page-header {
  background-color: #ffffff;
  padding-top: 24px;
}
body {
  background-color: var(--primary-bg-color);
  font-family: var(--primary-font-family), sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* =========== styles remove =========  */
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/* =========== /styles remove =========  */

/* ================== COMPONENTS ================== */
.subtitle {
  font-size: var(--header-2-font-size);
  line-height: var(--header-2-line-height);
  text-transform: capitalize;
  color: var(--title-text-color);
}

.section-subtitle {
  font-weight: var(--header-3-font-weight);
  font-size: var(--header-3-font-size);
  line-height: 1.2;
  /* text-align: center; */
  color: var(--title-text-color);
}

.subtitle-text {
  color: var(--text-color-bg);
}

.footer-text {
  color: var(--accent-color);
}

/* ================== /COMPONENTS ================== */

/*========= HEADER ===============*/

.page-nav {
  display: flex;
}
.logotype {
  font-family: var(--secondary-font-family), sans-serif;
  font-size: var(--logo-font-size);
  font-weight: 800;
  line-height: 1.17;
  width: 115px;
  height: 24px;
  left: 156px;
  top: 24px;
  padding: 0px;
}
.web-color {
  color: var(--primary-brand-color);
}
.studio-color {
  color: var(--dark-color-bg);
}
.studio-color-footer {
  color: #f4f4fd;
}
.menu-contacts {
  display: flex;
}

.menu {
  display: flex;
  width: 261px;
  height: 24px;
  left: 347px;
  top: 24px;
  padding: 0px;
}

.menu-link {
  font-weight: 500;
  color: #2e2f42;
}

.header-item {
  margin-left: 40px;
}
.header-item:last-child {
  margin-right: 0;
}
.contacts-item {
}

.menu .menu-link:hover,
.menu .menu-link:focus {
  color: var(--presed-state-color);
}

.contact-mail,
.contact-phone {
  font-style: normal;
  color: var(--dark-color-bg);
}
.contact-mail:hover,
.contact-mail:focus {
  color: var(--presed-state-color);
}
/* ================/HEADER ============== */

/* =================HERO================= */

.hero {
  background: var(--dark-color-bg);
}
.main-title {
  font-size: 56px;
  line-height: 1.07;
  color: var(--primary-white-color);
}

/* ========= Button ============== */
.hero-button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  width: 169px;
  height: 56px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-bg-color);
  background-color: var(--primary-brand-color);
  cursor: pointer;
  border: none;
}

.hero-button:hover,
.hero-button:focus {
  background: var(--presed-state-color);
  color: var(--primary-white-color);
}
.pointer {
  padding: 12px 24px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  background: var(--light-color-bg);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand-color);
  cursor: pointer;
}

.pointer:hover,
.pointer:focus {
  background: var(--presed-state-color);
  color: var(--primary-white-color);
}

/* ========= /Button ============== */

/* =================== Team ============== */
.team {
  background-color: var(--light-color-bg);
}
/* =================== /Team ============== */

/* =============FOOTER=================== */

.footer-content {
  background: var(--dark-color-bg);
}
